<h1>Product: <%= @product.name %></h1>
<%= link_to('Back to index', '/products') %>
<hr>
<div>
<p> Description: <%= @product.description %></p>
<p> Price: <%= @product.price_in_cents %></p>
</div>

<%= link_to('Edit', "/products/#{@product.id}/edit") %> | <%= link_to('Delete',"/products/#{@product.id}", method: :delete) %>
<hr>
<hr>

<h3>Reviews:<h3>
<hr>
<br>
<%@product.reviews.each do |review|%>
  <ul>
    <li>
      <p><%=review.description%></p>
      <p><%=review.created_at%></p>
      <%= link_to("delete", product_review_url(@product,review), method: :delete) %>
    </li>
    <br>
  </ul>

<%end%>

<h2>New Review</h2>
<%= render 'reviews/form', product: @product, review: @review %>
