<!DOCTYPE html>
<html>
  <head>
    <title>Rainforest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <h2><%= link_to('Home','/products')%> | <%= link_to('Create new product',"/products/new")%></h2>
        <p class="userinfo">
          <% if current_user %>
            Signed in as <%= current_user.email %>. <%= link_to "Log out", session_path("current"), :method => :delete %>
          <% else %>
            <%= link_to "Log in", new_session_path %> or <%= link_to "Sign up", new_user_path %>
          <% end %>
        </p>
        <hr>
        <br>
      </nav>
      <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:alert] %>
      <p class="alert"><%= flash[:alert] %></p>
    <% end %>
    </header>
    <%= yield %>
  </body>
</html>
